*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    .container{
        width: 100%;
        min-height: 100vh;
        background: linear-gradient(135deg, #4203a9, #90bafc);
        padding: 10px;
        color: #fff;

        .calculator{
            width: 100%;
            max-width: 600px;
            margin-left: 10%;
            margin-top: 10%;

            h1{
                font-size: 50px;
                letter-spacing: 0.1rem;

                .js{
                    color: #EFD81D;
                    letter-spacing: 0.6rem;
                    font-size: 60px;
                }
            }

            .input-box{
                margin: 40px 0;
                padding: 35px;
                border-radius: 10px;
                background-color: rgba(255, 255, 255, 0.3);
                display: flex;
                align-items: center;
                justify-content: start;

                input{
                    flex: 1;
                    margin-right: 20px;
                    padding: 14px 20px;
                    border: 0;
                    outline: 0;
                    font-size: 18px;
                    border-radius: 5px;
                    position: relative;

                    &::-webkit-calendar-picker-indicator{
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        width: auto;
                        height: auto;
                        background-position: calc(100% - 10px);
                        background-size: 30px;
                        cursor: pointer;
                    }
                }

                button{
                    background: #EFD81D;
                    border: 0;
                    outline: 0;
                    padding: 15px 30px;
                    border-radius: 5px;
                    font-weight: 700;
                    font-size: 16px;
                    color: #333;
                    cursor: pointer;

                    &:hover{
                        background: #f1e26d;
                    }
                }
            }
        }
    }  
}
 